<% if @user.nil? %>
  <p>User doesn't exist.</p>
<% else %>
  <p><%= @user.name %></p>
  <ul>
  	<li>name: <%= @user.name %></li>
    <li>email: <%= @user.email %></li>
    <li>created_at: <%= @user.created_at %></li>
    <li>updated at: <%= @user.updated_at %></li>
  </ul>
<% end %>
