<% provide(:title, "LucidTracker") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)} | LucidTracker" %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert-#{message_type}") %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
